@import "../../variables.scss";

.signup-content-container {
  width: 100vw;
  height: 100vh;
  background-color: $base;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  .signup-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .header {
      font-size: 2.5rem;
    }
    .input-box {
      border: none;
      border-bottom: 2px dashed gray;
      margin-top: 0.75rem;
      margin-bottom: 0.75rem;
      padding-top: 1rem;
      padding-bottom: 0.25rem;
      background-color: inherit;
      font-size: 1.5rem;
      width: 20vw;

      &::placeholder {
        color: #434343;
        transition: transform 0.25s ease-out, font-size 0.25s ease-out;
        transform: translateY(0);
        font-size: 1.5rem;
      }

      &:focus {
        outline: none;

        &::placeholder {
          transform: translateY(-1.75rem);
          transition: transform 0.25s ease-out, font-size 0.25s ease-out;
          font-size: 0.75rem;
        }
      }
    }
    .signup-button {
      border: none;
      outline: none;
      padding: 0.5rem;
      border-radius: 5px;
      color: white;
      font-size: 1.25rem;
      background-color: black;
      &:hover {
        cursor: pointer;
      }
    }
    .small-text {
      margin-top: 0.25rem;
      align-self: flex-start;
    }
  }
}
